name: Laravel CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  laravel-ci:
    runs-on: ubuntu-latest

    env:
      APP_ENV: testing
      APP_DEBUG: false
      CACHE_DRIVER: array
      QUEUE_CONNECTION: sync
      SESSION_DRIVER: array
      DB_CONNECTION: sqlite
      DB_DATABASE: /tmp/database.sqlite

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, pdo, sqlite
          coverage: none

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Prepare Laravel
        run: |
          cp .env.example .env
          php artisan key:generate
          touch /tmp/database.sqlite
          php artisan migrate --force

      - name: Run Tests
        run: php artisan test --no-coverage

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse app routes database --level=6 --no-progress
